*.a
*.so
*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
*.weights
words.txt
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
darknet
tags
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
